/**
 * Stylesheet for Contact.html
 **/

 * {
    box-sizing: border-box;
  }
  
  
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
    min-height: 100vh;
    
    background-color: pink;
    display: flex;
    flex-direction: column;
  }
 
  
h1 {
    color:  #1f1c1ce1;
    text-align:center;
}
 
 
  .wrapper {
    
    width: 1024px;
  
    
    margin: 40px auto;
  }

  /*Width at 768px */
  
  @media screen and (max-width: 768px) {
    body {
      background-color: pink;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
 
  }
  
  /*Width ar 980px */
  @media screen and (max-width: 980px) {
    body {
      background-color: pink;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
 
  }

  
  /* Width at 640px and below */
  @media screen and (max-width: 640px) {
    body {
      background-color:pink;
    }
    .wrapper {
        
        width: 100%;
        padding: 20px;
      }
 
  }

  /*Footer Content */
  
  footer {
    padding: 5px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    
}
footer p {
  color: ivory;
  margin-bottom: 0px;
}

footer a {
  color: darkblue;
}
