
/*Stylesheet to index.html*/

 * {
    box-sizing: border-box;
  }
  
 
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
    min-height: 100vh;
    
    background-color: pink;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    width: 1024px;    
    margin: 0 auto; 
    background-color: ivory;
    
  }
main{
  flex:1
}  
  
#main-bio,
#contact-info,
#img-thumbnail {
  float: left;
}

#main-bio {
  width: 70%;
}

#contact-info {
  width: 30%;
}

#img-thumbnail {
  /* Box-model */
  width: 200px;
  height: 200px;

  /* Positioning */

  margin-right: 20px;
  /* padding: 30px; */
}

.wrapper {
  
  width: 1024px;

 
  margin: 40px auto;
}

  
/*Width at 768px */
  @media screen and (max-width: 768px) {
    body {
      background-color: pink;
    }
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
    #main-bio,
    #contact-info,
    #img-thumbnail {
      width:auto;
    }
    
 
  }  
   
  
 

  /*Width at 980px */
  
  /*Width at 980px */
  @media screen and (max-width: 980px) {
    body {
      background-color: pink;
    }
  
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
  
 
  }
  
 
  
  /* Width at 768px and below */
  
  @media screen and (max-width: 768px) {
    body {
      background-color: pink;
    }
  
    .wrapper {
     
      width: 100%;
      padding: 20px;
    }
  
 
  }
  

  
  /* Width at 640px and below */
  @media screen and (max-width: 640px) {
    body {
      background-color:pink;
    }
  

  
  }
  footer {
    padding: 5px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    
}
footer p {
  color: ivory;
  margin-bottom: 0px;
}

footer a {
  color: darkblue;
}
