
/*Stylesheet to index.html*/

 * {
    box-sizing: border-box;
  }
  
 
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    
    background-color: pink;
  }
  
  .container {
    width: 1024px;
    margin: 0 auto;
  }
  
/*Width at 768px */
  @media screen and (max-width: 768px) {
    body {
      background-color: pink;
    }
  
   
  
 
  }

  /*Width at 980px */
  
  @media screen and (max-width: 980px) {
    body {
      background-color: pink;
    }
   
 
  }
    
  /* Width at 640px and below */
  @media screen and (max-width: 640px) {
    body {
      background-color:pink;
    }
    
  }

  /*Footer Content*/

  footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    
}

footer p {
  color: ivory;
}

footer a {
  color: darkblue;
}