/**
 * Stylesheet linked to Portfolio.html
 **/

 * {
    box-sizing: border-box;
  }
  

 img {
     width:200px;
     height: 200px;
     padding: 20px;
     border-color: purple;
    }

    body {
      /* Typography */
      font-size: 18px;
      line-height: 27px;
      min-height: 100vh;
      
      background-color: pink;
      display: flex;
      flex-direction: column;
    }
   

  .card{
    margin: 5px;
    padding: 5px;
    border-radius: 30px;
  }
  
h1 {
    color:  #1f1c1ce1;
    text-align:left;
}
 

  .wrapper {
  
    width: 1024px;
  
   
    margin: 40px auto;
  }

  /* .btn {
    position: relative;
    bottom:0;
    flex-direction: row;
  } */

  

  /*Width at 980px */
  @media screen and (max-width: 980px) {
    body {
      background-color: pink;
    }
  
    .wrapper {
      
      width: 100%;
      padding: 20px;
    }
  
 
  }
  
 
  
  /* Width at 768px and below */
  
  @media screen and (max-width: 768px) {
    body {
      background-color: pink;
    }
  
    .wrapper {
     
      width: 100%;
      padding: 20px;
    }
  
 
  }
  

  
  /* Width at 640px and below */
  @media screen and (max-width: 640px) {
    body {
      background-color:pink;
    }
  

  
  }
  
  footer {
    padding: 5px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    
}
footer p {
  color: ivory;
  margin-bottom: 0px;
}

footer a {
  color: darkblue;
}

#button{
  display: flex;  
  flex-direction: column;
}
